.sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 32.5%;
    height: 35vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: 15px 0;
}

.sm-banner .banner-box:nth-child(1),
.sm-banner .banner-box:nth-child(2)
 {
    min-width: 49%;
    height: 50vh;
}

.sm-banner h4,
.sm-banner h2,
.sm-banner span {
    color: #FFF;
}

.sm-banner h4 {
    font-size: 20px;
    font-weight: 300;
}

.sm-banner h2 {
    font-size: 28px;
    font-weight: 800;
}

.sm-banner .banner-box:nth-child(n+3) span {
    color: #ec544e;
    font-weight: 800;
} 

.sm-banner span {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0;
}

.sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}