.header, .navbar {
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #0B1215;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header .logo {
    background-color: #EEE;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.header .logo:hover {
    transform: translateY(-10%);
}

.navbar {
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li .link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #EEE;
    transition: 0.3s ease;
}

.navbar li .link:hover,
.navbar li .active-link {
    color: #088178;
}

.navbar li .link:hover::after,
.navbar li .active-link::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: 10px;
    left: 20px;
}