.header, .navbar {
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #0B1215;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header .logo {
    background-color: #EEE;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.header .logo:hover {
    transform: translateY(-10%);
}

.navbar {
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li .link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #EEE;
    transition: 0.3s ease;
}

.navbar li .link:hover,
.navbar li .active-link {
    color: #088178;
}

.navbar li .link:hover::after,
.navbar li .active-link::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.mobile {
    display: none;
}

@media(max-width:799px) {

    .header {
        padding: 20px 15px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -250px;
        height: 100vh;
        width: 250px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
        padding: 80px 0 0 10px;
        transition: .3s ease-in-out;
    }

    .navbar.active {
        right: 0;
    }

    .navbar .close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        cursor: pointer;
        transition: .8s ease;
    }

    .navbar .close:hover {
        transform: rotateZ(-180deg);
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .navbar li .link{
        color: #0B1215;
    }

    .navbar li .link:hover::after,
    .navbar li .active-link::after {
        bottom: 0px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile .menu-button {
        color: #EEE;
        font-size: 54px;
        padding-left: 20px;
        cursor: pointer;
    }
}

@media(max-width:477px) {
    .header {
        padding: 10px 30px;
    }
}